---
---
<footer class="text-center mt-12 py-6 border-t border-slate-200">
    <div class="space-x-4 mb-4">
        <a href="/about/" class="text-slate-500 hover:underline">運営者について</a>
        <a href="/criteria/" class="text-slate-500 hover:underline">シガゴルの評価基準</a>
   </div>
    <p class="text-slate-500">© 2025 シガゴル. All Rights Reserved.</p>
</footer>